.formulario {
  width: 80vw;
  min-width: 450px;
  height: 95%;
  border: 2px solid black;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
}
fieldset{
  padding: 10px !important;
}

.titulo-formulario {
  align-self: center;
}

.contenedor-box-username {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.username {
  cursor: pointer;
  height: 40px;
  width: 70%;
  border: 0.4px solid black;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.username:hover {
  background-color: var(--agricol);
}

.username img {
  position: absolute;
  justify-self: flex-start;
  left: 20px;
}

.boton-registrar {
  width: 60%;
  height: 40px;
  box-shadow: 10px 6px 4px 2px rgba(0, 0, 0);
  transition: box-shadow linear 0.5s;
}

.boton-registrar:hover {
  background-color: var(--agricol);
  box-shadow: none;
}

.username input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 80%;
  padding-left: 80px;
  outline: none;
}

.username input:focus {
  background-color: transparent;
  border: none;
}

.username input:active {
  background-color: transparent;
  border: none !important;
}
.contenedorImagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 20vw;
  align-self: flex-end;

}

#imagenLogomain, #imagenSlogan {
  width: 80%;
}

body main{
  width: 100vw;
  justify-content: flex-end !important;
}

@media(width <= 867px) {
  .formulario{
    background-color: aqua !important;
    overflow-x: scroll;
  }
  .contenedor-box-username{
    width: 50%;
  }
}

@media(width < 487px) {
  .formulario {
    width: 95vw;
    min-width: 95vw;
    overflow: hidden;
    overflow-x: scroll;
  }
  .contenedorImagenes{
    display: none;
  }
  .contenedor-box-username{
    width: 100%;
  }
}

